<!-- <div class="mb-3">
    <label for="filterText" class="form-label"><b> Renk Ara</b></label>
    <input type="text" [(ngModel)]="filterText" class="form-control form-control-sm" id="colorFilterText" placeholder="Aranacak renk">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    <b>  {{filterText | uppercase}}</b> Araması için sonuçlar;
  </div> -->
<table class="table table-dark  table-hover ">
    <thead>
        <tr>
            <th scope="col">Renkler</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" *ngFor="let color of colors | filterColor:filterText">
            
            <td class="text-lowercase" (click)="setCurrentColor(color)" routerLink="cars/color/{{color.id}}">{{color.name}}</td>
            <td class="d-flex justify-content-end" *ngIf="isAuthentication"><input type="button" class="btn btn-primary btn-sm" value="Güncelle" [routerLink]="['colors/colorUpdate' ,color.id]"></td>
        </tr>
    </tbody>
</table>
