 <nav class="navbar navbar-expand-lg navbar-light bg-dark ps-5">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><h5 class="text-white">Anasayfa</h5></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><h5 class="text-white"><a>Ödeme</a></h5></a>
        </li>

        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" *ngIf="isAuthentication" 
           id="navbarDropdown"  role="button" data-bs-toggle="dropdown" aria-expanded="true">
            <h5 class="text-white">Ekle</h5>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/brands/brand/add']">Marka</a></li>
            <li><a class="dropdown-item" [routerLink]="['/colors/color/add']">Renk</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" [routerLink]="['/cars/car/add']">Araba</a></li>
            <li><a class="dropdown-item" [routerLink]="['/cars/image/add']">Resim</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <label *ngIf="isAuthentication" for=""><h5 class="text-white nav-item mt-1 mx-4">Kullanıcı : {{fullName}}</h5></label>
        <button class="btn btn-warning mx-1" [routerLink]="['login']" *ngIf="!isAuthentication" type="submit">GİRİŞ</button>
        <button class="btn btn-danger ml-1" [routerLink]="['']" *ngIf="isAuthentication" (click)="Logout()" type="submit">Çıkış Yap</button>
      </form>

    </div>
  </div>
</nav>

<!-- <nav class="navbar">
  <div class="brand-title">Future's Cars</div>
  <a href="#" class="toggle-button">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
  </div>
</nav>
<script>
  $(document).ready(function () {

    
  const toggleButton = document.getElementsByClassName('toggle-button')[0]
const navbarLinks = document.getElementsByClassName('navbar-links')[0]

toggleButton.addEventListener('click', () => {
  navbarLinks.classList.toggle('active')
})
});
</script> -->