<!-- <div class="mb-3">
    <label for="filterText" class="form-label"><b> Marka Ara</b></label>
    <input type="text" [(ngModel)]="filterText" class="form-control form-control-sm" id="brandFilterText" placeholder="Aranacak Kelime">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    <b>  {{filterText | uppercase}}</b> Araması için sonuçlar;
  </div> -->
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col active">Markalar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" *ngFor="let brand of brands | filterBrand:filterText">
            
            <td class="text-lowercase" (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.id}}">{{brand.name}}</td>
            <td class="d-flex justify-content-end" *ngIf="isAuthentication"><input  class="btn btn-primary btn-sm" type="button" value="Güncelle" [routerLink]="['brands/brandUpdate' ,brand.id]"></td>
        </tr>
    </tbody>
</table>
