<div class="mb-3">
    <label for="filterText" class="form-label"><b> Marka Ara</b></label>
    <input type="text" [(ngModel)]="filterText" class="form-control form-control-sm" id="brandFilterText" placeholder="Aranacak Kelime">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    <b>  {{filterText | uppercase}}</b> Araması için sonuçlar;
  </div>
<table class="table">
    <thead>
        <tr>
            
            <th scope="col">Markalar</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary active" *ngFor="let brand of brands | filterBrand:filterText">
            
            <td (click)="setCurrentBrand(brand)" routerLink="/cars/brand/{{brand.id}}">{{brand.name}}</td>
            <td><input class="btn-light" type="button" value="Güncelle" [routerLink]="['brands/brandUpdate' ,brand.id]"></td>
        </tr>
    </tbody>
</table>
