/* footer{
    height: 400px;
    width: 100%;
    background-color: #181818;
}
[class^="col"]{
    color: white;
    text-align: center;
    background-color: red;
    border: 1px solid blue;
}
.col1{

} */
a{
    text-decoration: none;
}
a:hover{
    text-shadow:2px 2px black;
    color: bisque;
}

