<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form [formGroup]="paymentForm">
                    <div class="form-group">
                        <label for="cardNumber">
                            KART NUMARASI</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="cardNo" id="cardNumber" placeholder="Geçerli bir kart numarası"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    SON GEÇERLİLİK TARİHİ</label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" class="form-control" formControlName="expityMonth" id="expityMonth" placeholder="MM" required />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="number" class="form-control" formControlName="expityYear" id="expityYear" placeholder="YY" required /></div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CV KODU</label>
                                <input type="number" formControlName="cvCode" class="form-control" id="cvCode" placeholder="CV" required />
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Toplam Ödeme</a>
                </li>
            </ul>
            <br/>
            <button class="btn btn-success btn-lg btn-block" (click)="payment()" [disabled]="!paymentForm.valid">Pay</button>
            
        </div>
    </div>
</div>
