<table class="table">
    <thead>
      <tr>
        <th scope="col">İd</th>
        <th scope="col">Marka</th>
        <th scope="col">İsim</th>
        <th scope="col">Soyisim</th>
        <th scope="col">Kiralama Tarihi</th>
        <th scope="col">Teslim Tarihi</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-dark" *ngFor="let rental of rentalDetails">
        <th scope="row" >{{rental.id}}</th>
        <td>{{rental.brandName}}</td>
        <td>{{rental.firstName}}</td>
        <td>{{rental.lastName}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
      
    </tbody>
  </table>
