
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-navi></app-navi>
  </div>
  


  <div class="row">
    <div class="col-md-6">
      <app-brand></app-brand>
    </div>
    <div class="col-md-6">
      <app-color></app-color>
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <app-customer></app-customer>
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      <app-car></app-car>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-rental></app-rental>
    </div>
  </div>
  </div>




<router-outlet></router-outlet>
