
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <app-navi></app-navi>
  </div>
  


  <div class="row">
    <div class="col-md-2">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
      <!-- <app-customer></app-customer>
      <app-rental></app-rental> -->
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
  </div>





