
<app-navi></app-navi>
<div class="container">
  <div class="row">
    
  </div>
  


  <div class="row" style="margin-top: 30px;">
    <div class="col-md-2">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
      <!-- <app-customer></app-customer>
      <app-rental></app-rental> -->
      
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    
  </div>
</div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
  </div>





