<div class="mb-3">
    <label for="filterText" class="form-label">Araba Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control form-control-lg" id="filterText" placeholder="Aranacak Kelime">
  </div>
  <div *ngIf="filterText" class="alert alert-primary">
    <b>  {{filterText | uppercase}}</b> Araması için sonuçlar;
  </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">İd</th>
            <th scope="col">Marka</th>
            <th scope="col">Renk</th>
            <th scope="col">Fiyat</th>
            <th scope="col">Model Yılı</th>
            <th scope="col">Açıklama</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-success" *ngFor="let car of cars">
            <td>{{car.id}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice | currency:'USD':"code":"1.2-2"}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.description}}</td>
            <td><input class="btn-dark" type="button" routerLink="/cars/car-detail/{{car.id}}"  value="Detaylar"></td>
        </tr>
    </tbody>
</table>


